<div class="bg-white shadow rounded-lg">
	<div class="px-4 py-5 sm:p-6">
		<h2 class="text-lg font-medium leading-6 text-gray-900">Hoş Geldiniz!</h2>
		<div class="mt-5">
			<div class="rounded-md bg-primary-50 p-4">
				<div class="flex">
					<div class="ml-3">
						<h3 class="text-sm font-medium text-primary-800">Hızlı İşlemler</h3>
						<div class="mt-4 flex flex-wrap gap-4">
							<a
								href="/panel/categories/new"
								class="inline-flex items-center rounded-md bg-primary-700 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-primary-600 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-primary-600"
							>
								Yeni Kategori
							</a>
							<a
								href="/panel/incomes/new"
								class="inline-flex items-center rounded-md bg-primary-700 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-primary-600 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-primary-600"
							>
								Yeni Gelir
							</a>
							<a
								href="/panel/expenses/new"
								class="inline-flex items-center rounded-md bg-primary-700 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-primary-600 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-primary-600"
							>
								Yeni Gider
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
